<div class="container">
    <h1>Forgot Password</h1>
    <p>Fill the below information to change password</p>
    <hr>
    <form [formGroup]="forgotPassForm" (ngSubmit)="onSubmit()">
        <div><label><b>Username: </b><input type="text" formControlName="username" name="username"></label></div>
        <div class="dropdown"><label for="questions"><b>Choose a Question: </b></label>

            <div class="dropdown-select">
                <select formControlName="questions">
                    <option *ngFor="let question of questions" [ngValue]="question">
                        {{ question }}
                    </option>
                </select>
            </div>
        </div>
        <div><label><b>Answer: </b><input type="text" formControlName="answer" name="answer"></label></div>
        <div><label><b>New Password: </b><input type="password" formControlName="password" name="password"></label>
        </div>
        <div class="success" *ngIf="showSuccess">Password changed Successfully</div>
        <div class="error" *ngIf="showError">{{error}}</div>
        <div><button type="button" class="submit-button" (click)="onSubmit()">Submit</button></div>
        <div class="container signin">
            <p>Back to <a href="/login">Login</a>.</p>
        </div>
    </form>   

</div>